#container:hover ~ #store {
  transform: translate(22vw);
  pointer-events: none;
}

#container:hover {
  visibility: none;
  cursor: pointer;
  pointer-events: none;
}

#container:not(:hover) {
  visibility: visible;
}

#store:not(:hover) {
  transform: translate(-22vw);
}
